<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GOF - Good Old Friends</title>
    <link rel='shortcut icon' type='image/x-icon'
          href='../img/gog_galaxy__the_tatami_galaxy_icon_by_snowie0wl-d9z2u28.ico'/>
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../bower_components/html5shiv/dist/html5shiv.min.js"></script>
    <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->

    <style>
        .dim {
            background: rgba(0, 0, 0, .5) url('../img/puff.svg') no-repeat;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 999;
        }
    </style>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Good Old Friends</a>
        </div>
        <div class="nav navbar-nav navbar-right">
            Connection status: <span class="label label-danger connection-status">Not connected</span>
        </div>
    </div>
</nav>

<div class="container" id="ip-page">
    <div class="row">
        <div class="col-xs-12 text-center form-container">
            <form action="javascript:">
                <div class="form-group">
                    <label for="ip">Your friend's IP</label>
                    <input type="text" class="form-control" id="ip" placeholder="Introduce your friend's IP number">
                    <p class="help-block">Example: 166.88.44.22</p>
                </div>
                <a class="btn btn-default connect-btn">Connect</a>
            </form>
        </div>
    </div>
</div>

<div class="container hidden" id="list-page">
    <div class="row">
        <div class="col-xs-12 text-center list-container">
            <div class="list-group games-list">
                Loading...
            </div>
        </div>
    </div>
</div>

<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script type="application/javascript">
    const fs = require('fs');
    const url = require('url');
    const http = require('http');
    const appPort = 8138;
    /**
     * @param ip
     * @returns {boolean}
     */
    function validateIP(ip) {
        return /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/.test(ip);
    }
    function dimBody() {
        $('body').addClass('dim');
    }
    function unDimBody() {
        $('body').removeClass('dim');
    }
    function notifyError(msg) {
        $('.form-container').prepend('<div class="alert alert-danger">' + msg + '</div>');
    }
    const unableToConnectMsg = '<strong>Unable to connect!</strong> You friend seems to not be available... is he running the app?';
    const invalidIpMsg = '<strong>Invalid IP!</strong> The IP you have written does not have a valid format, try again.';
    function setConnectionToConnected() {
        $('.connection-status').removeClass('label-danger').addClass('label-success').html('Connected');
    }
    function setConnectionToNotConnected() {
        $('.connection-status').removeClass('label-success').addClass('label-danger').html('Not connected');
    }
    function download(ip, dir, file) {
        let fileUrl = 'http://' + ip + ':' + appPort + '/download/' + dir + '/' + file;
        let options = {
            host: url.parse(fileUrl).host,
            port: 80,
            path: url.parse(fileUrl).pathname
        };

        let File = fs.createWriteStream('./' + file);
        http.get(options, function (res) {
            let fsize = res.headers['content-length'];
            res.on('data', function (data) {
                File.write(data);
                progress(100 - (((fsize - file.bytesWritten) / fsize) * 100), $('#progressBar'));
            }).on('end', function () {
                File.end();
            });
        });
    }
    function progress(percent, $element) {
        console.log("Download: " + parseInt(percent) + " %")
        var progressBarWidth = percent * $element.width() / 100;
        $element.find('div').css("width", progressBarWidth);
    }
    function $gameItemFactory(name, version, size, files, nfiles) {
        return $(
            '<a href="#" class="list-group-item game-item" id="name"' +
            ' data-name="' + name + '"' +
            ' data-version="' + version + '"' +
            ' data-size="' + size + '"' +
            ' data-files="' + files + '"' +
            ' data-nfiles="' + nfiles + '"' +
            '>' +
            name +
            version +
            '<div class="progress">' +
            '<div class="progress-file-counter"></div>' +
            '<div class="progress-bar"></div>' +
            '</div>' +
            '</a>'
        )
    };

    $('.connect-btn').click(function (e) {
        dimBody();
        let ip = $('#ip').val();
        if (!validateIP(ip)) {
            unDimBody();
            notifyError(invalidIpMsg);
        }

        $.getJSON('', {}, function () {

        });
    });
    // On connect click -
    // show connecting...
    // parse ip input, sanitize and validate

    // Make GET list request to ip

    //


</script>
</body>
</html>